.scroll {
  @mixin mod($mod) {
    @include modifier("scroll", $mod) {
      @content;
    }
  }
  @mixin mod-w($mod) {
    @include modifier("scroll-wrapper", $mod) {
      @content;
    }
  }

  min-height: 100%;

  &-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;
  }

  .ScrollbarsCustom-Wrapper {
    inset: 0!important;
  }

  //.ScrollbarsCustom-Scroller {
  //  width: 100% !important;
  //  //padding: 0!important;
  //  //margin: 0!important;
  //}

  .ScrollbarsCustom-Content {
    @include option(padding, 0 30 0 0!important);
  }

  .ScrollbarsCustom-Track {
    @include option(right, 0);
    @include option(width, 10!important);
    background: rgba(#233A26,.2) !important;
    @include option(border-radius, 50!important);
    transition: opacity 0.1s;
    pointer-events: none;
    @include mod-w('info') {
      background: rgba($WHITE, .3) !important;
    }
  }

  .ScrollbarsCustom-Thumb {
    background: rgba(#233A26, .3) !important;
    @include option(border-radius, 50 !important);
    @include mod-w('info') {
      background: rgba($WHITE, 1) !important;
    }

  }

  &__shadow {
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    transition: opacity .1s linear;
    pointer-events: none;
    &_top {
      top: -2px;
      background: linear-gradient(to bottom, rgba($WHITE, 1) 20%, rgba($WHITE, 0) 80%);
      @include mod-w('info') {
        background: linear-gradient(to bottom, rgba(#78867a, 0) 20%, rgba(#78867a, 0) 80%);
      }
    }
    &_bottom {
      bottom: -2px;
      background: linear-gradient(to top, rgba($WHITE, 1) 20%, rgba($WHITE, 0) 80%);
      @include mod-w('info') {
        background: linear-gradient(to top, rgba(#78867a, 0) 20%, rgba(#78867a, 0) 80%);
      }
    }
  }

}
