.flip-card {
  @mixin mod($mod) {
    @include modifier("flip-card", $mod) {
      @content;
    }
  }
  @mixin mods($mods...) {
    @for $i from 0 to length($mods) {
      .flip-card_#{nth($mods, $i + 1)} & {
        @content;
      }
    }
  }

  $time: 1s;
  $timeC: 1s;
  position: relative;
  overflow: visible;

  width:37vh;
  height:50vh;
  margin: 0 auto;

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: visible;

    @include mod("corner") {
      perspective: 1000px;
      //TODO: вот тут надо подумать, как настроить высоту контейнера, чтоб скролла появлалось
    }
  }

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    backface-visibility: hidden;
    transition: $time ease-in-out;
    box-sizing: border-box;
    overflow: hidden;

    &_front {
      background: rgba(red, 1);
      transform: rotateY(0deg);
      filter: drop-shadow(0 0 0 rgba(#5c5c5c,.5));
    }

    &_back {
      background: rgba(green, 1);
      transform: rotateY(180deg);
      filter: drop-shadow(0 0 50px rgba(#5c5c5c,.5));

    }

    @include mod("corner") {

      transition: $timeC ease-in-out;
      &:after {
        content: "";
        clear: both;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: $timeC * .5 ease-in-out $timeC * .5;
      }

      &_front {
        transform-origin: 0 100%;
        opacity: 1;

        &:after {
          opacity: 0;
          background: linear-gradient(45deg, rgba(#5c5c5c, 1), rgba(#5c5c5c, 0));
        }
      }

      &_back {
        transform-origin: 0 100%;
        transform: rotate(-90deg) rotateY(180deg);
        opacity: 0;

        &:after {
          opacity: 1;
          background: linear-gradient(45deg, rgba(white, 0), rgba(white, 1), rgba(white, 0));
        }
      }

    }

    @include mod("rotate") {
      &_front {
        transform: rotateY(-180deg);
      }
      &_back {
        transform: rotateY(0deg);
      }
    }
    @include mod("rotate.flip-card_corner") {
      &_front {
        transform: rotate(-90deg) rotateY(-180deg);
        filter: drop-shadow(0 0 50px rgba(#5c5c5c,.5));
        opacity: 0;
        &:after {
          opacity: 1;
        }
      }
      &_back {
        transform: rotate(0deg) rotateY(0deg);
        filter: drop-shadow(0 0 0 rgba(#5c5c5c,.5));
        opacity: 1;
        &:after {
          opacity: 0;
        }
      }
    }
  }

  &__side-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__side-title {
    display: block;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.5;
  }

  &__side-text {
    display: block;
    text-align: center;
    font-size: 0.8em;
    line-height: 1;
  }

}
