.user {
  @mixin mod($mod) {
    @include modifier("user-name", $mod){
      @content;
    }
  }
  @mixin mods($mods...) {
    @for $i from 0 to length($mods) {
      .user-name_#{nth($mods, $i + 1)} & {
        @content;
      }
    }
  }

  @include option(margin, 30 0);
  border-top: 4px dashed rosybrown;

  &__title {
    @include option(font-size, 50);
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    user-select: none;
  }

  &__form {
    @include option(width, 800);
    @include option(margin, 0 auto);

    background-color: #212121;
    border: 10px solid #00b6ff;
    @include option(border-radius, 20);
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include option(gap, 25);
    @include option(margin, 0);
    @include option(padding, 20 0 0);

    border: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include option(gap, 10);
    @include option(width, max-content);
  }

  &__label {
    font-family: "MS Reference Sans Serif", sans-serif;
    @include option(font-size, 40);
    color: white;
  }

  &__input {
    @include option(width, 550);
    @include option(padding, 15 25);

    @include option(font-size, 35);
    font-style: italic;
    color: black;

    border: 3px solid #00b6ff;
    @include option(border-radius, 10);

    &_age::-webkit-inner-spin-button,
    &_age::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      border-color: yellow;
    }

    &:invalid {
      border-color: tomato;
    }
  }

  &__error {
    @include option(margin, 10 0 0);
    @include option(font-size, 23);
    text-align: left;
    color: tomato;
  }

  &__button {
    display: block;
    @include option(width, 400);
    @include option(margin, 30 auto 30);
    @include option(padding, 15 0);

    font-family: "MS Reference Sans Serif", sans-serif;
    @include option(font-size, 40);
    color: white;

    background-color: #00b6ff;
    border: none;
    @include option(border-radius, 20);
    box-shadow: 0 7px 5px -2px rgba(0, 182, 255, 0.5);
    cursor: pointer;

    transition: .2s ease-in-out;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 0.7;
    }
  }
}
