/* Layout */
.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
  @include menu-visible {
    height: 100vh;
  }
}
.content-wrapper {
  overflow: hidden;
}

#menu-burger:checked + .main-container{
  height: 100vh;
}
