@mixin modifier($class, $mod) {
  $modTmp: unquote("");
  @if type-of($mod) == list {
    @each $m in $mod {
      $modTmp: $modTmp + unquote(".#{$class}_#{$m}");
    }
  } @else {
    $modTmp: unquote(".#{$class}_#{$mod}");
  }

  //@debug nth(nth(&, 1), 1);
  $first-class: split-pseudo-class(nth(nth(&, 1), 1));
  @if length($first-class) > 1 {
    @for $i from 2 through length($first-class) {
      $modTmp: $modTmp + unquote("::") + nth($first-class, $i);
    }
  }

  @if (nth($first-class, 1) != unquote(".#{$class}")) {
    $modTmp: $modTmp + unquote(" &");
  }

  @at-root #{$modTmp} {
    @content;
  }
}